
.gold {
    height: 30px;
    width: 100%;
    background-color: blue;
}
.main {
    background-color: burlywood;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
    padding-left:100px ;
}
.term {
    padding-left: 250px;
}

.yor {
    margin-left: 400px;
}
.abt {
    margin-left: 40px;
}
input {
    width: 15px;
}
